<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SFM_Location_Retriever.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SFM_Location_Retriever.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SFM_Location_Retriever.Settings>
            <setting name="SFM_Root_Location" serializeAs="String">
                <value />
            </setting>
        </SFM_Location_Retriever.Settings>
        <SFM_Location_Retriever.Settings1>
            <setting name="SFM_Root_Location" serializeAs="String">
                <value />
            </setting>
        </SFM_Location_Retriever.Settings1>
    </userSettings>
</configuration>